.popup__profile-editing {
  display: flex;
  flex-direction: column;
  margin: 54px auto 48px auto;
}

@media screen and (max-width: 767px) {
  .popup__profile-editing {
    margin: 75px auto 0 auto;
  }
}