.popup__form-loading_visible {
  display: flex;
  margin: -50px auto 0 auto;
  border-radius: 2px;
  width: 358px;
  min-height: 50px;
  color: #FFFFFF;
  background: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}