.elements__like {
  width: 22px;
  height: 19px;
  cursor: pointer;
  margin: auto 0 auto 0;
  border: 0;
  background-image: url(../../../images/like.svg);
}

.elements__like:hover {
  opacity: 0.5;
}